<h1>Create a article
</h1>


<%= render "error_display" %>


<%= form_with model: @article  do |f| %>
<%= f.label :title %>
<%= f.text_field :title%><br /><br />
<%= f.label :desc %>
<%= f.text_area :desc%><br /><br />
<%= f.submit 'Create article' %>
<% end %>